.game-type-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 50px;
}

.game-type-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.2s;
}

.game-type-item:hover {
  transform: scale(1.05);
}

.game-type-info {
  text-align: center;
}

.game-type-info h2 {
  margin: 10px 0 5px;
}

.game-type-item img {
  width: 50px; 
  height: auto;
}

.lobby-title {
  text-align: center;
  font-size: 2.5em; 
  margin-bottom: 30px;
  margin-top: 30px;
}